# _build should be generated not imported
_build/

# Object ml files  
*.cmo
*.cmi

# Parser Outputs
*.output
*.automaton
*.conflicts

# Vim Backup files / OS-specific files
*.swo
*.swp
*.DS_STORE

# Compiler executable
Compiler

*.o
*.s
*.imm
*.a
